{% extends 'base.html' %}

{% block style %}
{% include 'includes/activity_card_styles.html' %}
<style>
</style>
{% endblock %}

{% block page_title %}过往活动{% endblock %}

{% block nav_back %}
<a href="{% url 'activityui:homepage' %}" class="mdui-btn mdui-btn-icon mdui-ripple">
    <i class="mdui-icon material-icons">arrow_back</i>
</a>
{% endblock %}

{% block content %}
<div class="mdui-container activity-list">
    <div class="mdui-typo">
        <h2>已结束的活动</h2>
    </div>
      {% if past_activities %}
    <div class="mdui-panel" mdui-panel>
        {% for activity_data in past_activities %}
            {% include 'includes/activity_card.html' %}
        {% endfor %}
    </div>
    {% else %}
        <div class="mdui-text-color-black-secondary mdui-typo">
            <h4>暂无已结束的活动</h4>
        </div>
    {% endif %}
</div>
{% endblock %}